:root {
    --mainColor: #14171A;
    --secondaryColor: #14171A;

    --borderColor: #243447;

    --mainText: #FFF;
    --secondaryText: #E1E8ED;

    --themeDotBorder: #657786;

    --previewBg: rgba(52, 48, 56, 0.9);
    --previewShadow: #504654;

    --buttonColor: #222;
}